
<!-- wrapper-->
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable-fix-g" style="padding: 20px;" align="center">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <p>one cell-fix-g</p>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
                <td>col1</td>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
              </tr>
            </table>
          </td>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
                <td>col2</td>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
                <td>col1</td>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
              </tr>
            </table>
          </td>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
                <td>col2</td>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
              </tr>
            </table>
          </td>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
                <td>col3</td>
                <td width="10px" height="100%"><img src="spacer.gif" width="10px" height="100%" alt=""/></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>