tr
	td.container-padding
		.footer-text(align="left")
			br
			br
			| Sample Footer text: © 2015 Acme, Inc.
			br
			br
			| You are receiving this email because you opted in on our website. Update your 
			a(href="#") email preferences
			| or 
			a(href="#") unsubscribe
			| .
			br
			br
			strong Acme, Inc.
			br
			span.ios-footer
				| 123 Main St.
				br
				| Springfield, MA 12345
				br
			a(href="http://www.acme-inc.com") www.acme-inc.com
			br
			br
			br