
//- with or without prod
- colType = "withProd"
- colType = "withoutProd"

case colType

	when "withoutProd"
		tr
			td.content(align="left")
				
				.container-padding
					block ColContent

	when "withProd"
		tr
			td.content(align="left")
				table.force-row(width="600", border="0", cellpadding="0", cellspacing="0", style="width: 600px;")
					tr
						td.cols-wrapper
							table.force-row(width="600" border="0" cellpadding="0" cellspacing="0" align="left" style="width: 600px;")
								tr
									td.col(valign="top")
										block ColContent

											