tr
	td.content(align="left")
		table.force-row(width="600", border="0", cellpadding="0", cellspacing="0", style="width: 600px;")
			tr
				td.cols-wrapper
					
					<!--[if mso]><table border="0" width="600" cellpadding="0" cellspacing="0" style="width: 600px;"><tr><td width="200" style="width: 200px;" valign="top"><![endif]-->
					
					table.force-row(width="200" border="0" cellpadding="0" cellspacing="0" align="left" style="width: 200px;")
						tr
							td.col(valign="top")
								
								include ../template/prod
					
					<!--[if mso]></td><td width="200" style="width: 200px;" valign="top"><![endif]-->

					table.force-row(width="200" border="0" cellpadding="0" cellspacing="0" align="left" style="width: 200px;")
						tr
							td.col(valign="top")

								include ../template/prod

					<!--[if mso]></td><td width="200" style="width: 200px;" valign="top"><![endif]-->

					table.force-row(width="200" border="0" cellpadding="0" cellspacing="0" align="left" style="width: 200px;")
						tr
							td.col(valign="top")
								
								include ../template/prod
					
					<!--[if mso]></td></tr></table><![endif]-->