extends views/containerMail/containerMail

block generalData
	//- option: default, fiorentina, lazio, fir, verona, f4u
	- site 			= "verona"
	- lang 			= "it"
	- data 			= "11-8"

	if lang == "en"
		- previewCopy 	= "some small message here"
		- emailTitle	= "your email title"

	if lang == "it"
		- previewCopy 	= "qualcozina di cortto qui"
		- emailTitle	= "your email title"

	include config/config

block append emailContent
	include views/heroImagePlus
	include views/heroImage
	include views/couponCode
	include views/twoProd
	include views/twoBanner
	include views/heroImagePlusTest
	include views/twoProdTest
	include views/threeProd
	include views/fourProd