if template == "containerMail"
	- rowBackgroundColor	= colorWhiteA

if template == "preHeader"
	- linkColor 			= colorSecondary
	- fontColor 			= colorWhiteC

	- rowBackgroundColor	= colorWhiteA

if template == "twoProd"
	- linkColor 			= colorPrimaryLightA
	- fontColor 			= colorPrimary

	- rowBackgroundColor	= colorWhite

if template == "threeProd"
	- linkColor 			= colorPrimaryLightA
	- fontColor 			= colorPrimary

	- rowBackgroundColor	= colorWhite

if template == "heroImage"
	- linkColor 			= colorPrimaryLightA
	- fontColor 			= colorPrimary

	- rowBackgroundColor	= colorWhite

