//- Grey scale
- colorWhiteD				= "#a1a1a1"
- colorWhiteC				= "#b3b3b3"
- colorWhiteB				= "#c7c7c7"
- colorWhiteA				= "#dedede"
- colorWhite				= "#ffffff"
- colorGrey					= "#767676"
- colorBlack				= "#000000"
- colorBlackA				= "#191919"
- colorBlackB				= "#303030"
- colorBlackC				= "#444444"
- colorBlackD				= "#565656"

//- Primary
- colorPrimaryLightD		= "#fffbf3"
- colorPrimaryLightC		= "#fff7e6"
- colorPrimaryLightB		= "#ffeecc"
- colorPrimaryLightA		= "#fedd98"
- colorPrimary				= "#fdba31"
- colorPrimaryDarkA			= "#98701d"
- colorPrimaryDarkB			= "#5b4311"
- colorPrimaryDarkC			= "#37280a"
- colorPrimaryDarkD			= "#211806"

//- Secondary
- colorSecondaryLightD		= "#f2f3f5"
- colorSecondaryLightC		= "#e5e7eb"
- colorSecondaryLightB		= "#cbced6"
- colorSecondaryLightA		= "#979dad"
- colorSecondary			= "#2e3a5b"
- colorSecondaryDarkA		= "#1c2337"
- colorSecondaryDarkB		= "#111521"
- colorSecondaryDarkC		= "#0a0d14"
- colorSecondaryDarkD		= "#06080c"

//- Tertiary
- colorTertiaryLightD		= "#f0f5f9"
- colorTertiaryLightC		= "#e1eaf2"
- colorTertiaryLightB		= "#c2d5e5"
- colorTertiaryLightA		= "#85abcb"
- colorTertiary				= "#0a5697"
- colorTertiaryDarkA		= "#06345b"
- colorTertiaryDarkB		= "#041f37"
- colorTertiaryDarkC		= "#021321"
- colorTertiaryDarkD		= "#010b14"

//- Fourth
- colorFourthLightD			= "#fffef3"
- colorFourthLightC			= "#fffce6"
- colorFourthLightB			= "#fff9cc"
- colorFourthLightA			= "#fff299"
- colorFourth				= "#fee533"
- colorFourthDarkA			= "#98891f"
- colorFourthDarkB			= "#5b5213"
- colorFourthDarkC			= "#37310b"	
- colorFourthDarkD			= "#211d07"

- colorDebug				= "#b5ff00"
- colorBgDebug				= "#2b2d29"