
<!-- this is the CTA image (image) - set to "false" if you don't want to use image-->
<tr>
  <td align="left" class="content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <td bgcolor="undefined" valign="top" align="center" width="100%" style="width: 100%; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
          <!--
          if rowHeaderTitleImage
          	tr
          		td.container-padding.content(align="center" bgcolor="")
          			br
          			br
          			a(href="_HeroImagePlus1" target="_blank")
          				img(src="false_.jpg" border="0" alt="" hspace="0" vspace="0" style="max-width:100%;")
          			block rowHeaderRow
          				if rowHeaderRow
          					br
          					span(style=" color: ;")
          						| 
          else
          	tr
          		td.container-padding.content(align="center"  bgcolor="" style="padding: 20px 0px 10px 0px;")
          			span(style=" color:;")
          				| 
          
          			block rowHeaderRow
          
          	tr
          		td(align="center" bgcolor="" style="padding: 0 0 10px 0;")
          
          
          -->
          <!--
          if rowHeaderCTAImage
          	tr
          		td(align="center" bgcolor="" style="padding: 0 0 10px 0;")
          			a(href="_HeroImagePlus1" target="_blank")
          				img(src="_.jpg" border="0" alt="" hspace="0" vspace="0")
          
          else
          	tr
          		td(align="center" bgcolor="" style="padding: 0 0 10px 0;")
          			block heroImagePlusCTA
          				include ../../template/_cta
          -->
        </td>
      </tr>
    </table>
  </td>
</tr>