extends threeProd/threeProd

block prodInfo
	if lang == "en"
		if prod == 1
			- prodTitle 			= "title prod 01A"
			- prodDescription		= "prod despription 01"
			- prodImage				= "http://placehold.it/600x600"
			- prodPrice 			= "01"
			- prodNormalPrice 		= "10"

		if prod == 2
			- prodTitle 			= "title prod 02A"
			- prodDescription		= "prod despription 02"
			- prodImage				= "http://placehold.it/600x600"
			- prodPrice 			= "02"
			- prodNormalPrice 		= "20"

		if prod == 3
			- prodTitle 			= "title prod 03A"
			- prodDescription		= "prod despription 03"
			- prodImage				= "http://placehold.it/600x600"
			- prodPrice 			= "03"
			- prodNormalPrice 		= "30"

	if lang == "it"
		if prod == 1
			- prodTitle 			= "title prod 01A"
			- prodDescription		= "prod despription 01"
			- prodImage				= "http://placehold.it/600x600"
			- prodPrice 			= "01"
			- prodNormalPrice 		= "10"

		if prod == 2
			- prodTitle 			= "title prod 02A"
			- prodDescription		= "prod despription 02"
			- prodImage				= "http://placehold.it/600x600"
			- prodPrice 			= "02"
			- prodNormalPrice 		= "20"

		if prod == 3
			- prodTitle 			= "title prod 03A"
			- prodDescription		= "prod despription 03"
			- prodImage				= "http://placehold.it/600x600"
			- prodPrice 			= "03"
			- prodNormalPrice 		= "30"