extend twoBanner/twoBanner

block twoBannerInfo
	- var trakingSource				= "xxxsmallBanner"

	- var imgBanner01 			= "smallBanner1"
	- var imgBanner02			= "smallBanner2"

	if lang == "en"
		- var linkBanner01 			= "http://www.solopx.com"
		- var copyBanner01 			= "banner 1 copy EN"

		- var linkBanner02 			= "http://www.solopx.com"
		- var copyBanner02 			= "banner 2 copy EN"

	if lang == "it"
		- var linkBanner01 			= "http://www.solopx.com"
		- var copyBanner01 			= "banner 1 copy IT"

		- var linkBanner02 			= "http://www.solopx.com"
		- var copyBanner02 			= "banner 2 copy IT"