extends twoProd/twoProd

block prodInfo
	- trakingSource 				= "twoProdTraking2A"

	if lang == "en"
		- ctaCopy = "BuyA"

		if prod == 1
			- linkCTA				= "http://www.laziostylestore.com/en/ss-lazio-sky-blue-white-115-years-polo.html"
			- prodImage				= "http://lazio.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz14121.jpg"
			- prodTitle 			= "Ss Lazio Sky Blue/White 115 Years Polo"
			- prodPrice 			= "45.00"
			- prodNormalPrice 		= false
			- idProd				= "lz14121"
			- prodDescription		= "prod despription 01"

		if prod == 2
			- linkCTA				= "http://www.laziostylestore.com/en/ss-lazio-black-sky-blue-115-years-polo.html"
			- prodImage				= "http://lazio.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz14119.jpg"
			- prodTitle 			= "Ss Lazio Black/Sky Blue 115 Years Polo"
			- prodPrice 			= "45.00"
			- prodNormalPrice 		= false
			- idProd				= "lz14119"
			- prodDescription		= "prod despription 02"


	if lang == "it"
		- ctaCopy = "AcquistaA"

		if prod == 1
			- linkCTA				= "http://www.laziostylestore.com/en/ss-lazio-sky-blue-white-115-years-polo.html"
			- prodImage				= "http://lazio.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz14121.jpg"
			- prodTitle 			= "Wristbands 2014/15"
			- prodPrice 			= "45.00"
			- prodNormalPrice 		= false
			- idProd				= "lz14291"
			- prodDescription		= "prod despription 01"

		if prod == 2
			- linkCTA				= "http://www.laziostylestore.com/en/ss-lazio-black-sky-blue-115-years-polo.html"
			- prodImage				= "http://lazio.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz14119.jpg"
			- prodTitle 			= "Gym Sack 2014/15"
			- prodPrice 			= "45.00"
			- prodNormalPrice 		= false
			- idProd				= "lz14312"
			- prodDescription		= "prod despription 02"

	//- additional option
	append append buttonAtribute
		- cta = "button"
		- buttonType = 2
		- buttonWidth = "150px"

		//- arcsize = "5px"
		//- radiusSize = "5px"

		//- ctaColor = "white"
		//- ctaBgColor = "red"

		//- height = "40px"
		//- lineheight = "40px"

		//- fontFam = fontSans
		//- fontSize =  font15
