extends ../../template/_cells

block cellAtribute
	- cell = 			"twoEqual"
	- template = 		"twoProd"
	include ../../config/config

block cellContent1

	- prod = 			1
	block prodInfo
	p #{template}
	include ../../template/_prod

block cellContent2

	- prod = 			2
	p #{template}
	block prodInfo
	include ../../template/_prod