//- Grey scale
- colorWhiteD				= "#a1a1a1"
- colorWhiteC				= "#b3b3b3"
- colorWhiteB				= "#c7c7c7"
- colorWhiteA				= "#dedede"
- colorWhite				= "#ffffff"
- colorGrey					= "#767676"
- colorBlack				= "#000000"
- colorBlackA				= "#191919"
- colorBlackB				= "#303030"
- colorBlackC				= "#444444"
- colorBlackD				= "#565656"

//- Primary
- colorPrimaryLightD		= "#f0f2f5"
- colorPrimaryLightC		= "#e0e5ea"
- colorPrimaryLightB		= "#c0cbd5"
- colorPrimaryLightA		= "#8097ab"
- colorPrimary				= "#002f56"
- colorPrimaryDarkA			= "#001c34"
- colorPrimaryDarkB			= "#00111f"
- colorPrimaryDarkC			= "#000a13"
- colorPrimaryDarkD			= "#00060b"

//- Secondary
- colorSecondaryLightD		= "#f9f8f5"
- colorSecondaryLightC		= "#f2f0ea"
- colorSecondaryLightB		= "#e5e1d5"
- colorSecondaryLightA		= "#cac3aa"
- colorSecondary			= "#948655"
- colorSecondaryDarkA		= "#595033"
- colorSecondaryDarkB		= "#35301f"
- colorSecondaryDarkC		= "#201d13"
- colorSecondaryDarkD		= "#13110b"

//- Tertiary
- colorTertiaryLightD		= "#f0f5f9"
- colorTertiaryLightC		= "#e0eaf3"
- colorTertiaryLightB		= "#c0d5e7"
- colorTertiaryLightA		= "#80aacf"
- colorTertiary				= "#00559e"
- colorTertiaryDarkA		= "#00335f"
- colorTertiaryDarkB		= "#001f39"
- colorTertiaryDarkC		= "#001322"
- colorTertiaryDarkD		= "#000b14"

//- Fourth
- colorFourthLightD			= "#f0f7f5"
- colorFourthLightC			= "#e0eeeb"
- colorFourthLightB			= "#c0ddd6"
- colorFourthLightA			= "#80bbad"
- colorFourth				= "#00775b"
- colorFourthDarkA			= "#004737"
- colorFourthDarkB			= "#002b21"
- colorFourthDarkC			= "#001a14"
- colorFourthDarkD			= "#00100c"

- colorDebug				= "#b5ff00"
- colorBgDebug				= "#2b2d29"