if template == "containerMail"
	- rowBackgroundColor		= colorSecondaryLightC

if template == "preHeader"
	- linkColor 				= colorSecondary
	- fontColor 				= colorWhiteC

	- rowBackgroundColor		= colorSecondaryLightC

if template == "header"
	- rowBackgroundColor 	= "white"
	- logoImgHeight 		= "70px"
	- socialBlockWidth 		= "230px"
	- txtColor				= colorWhiteA

if template == "nav"
	- navBorderTop 			= colorPrimary
	- navBgcolor 			= colorPrimary
	- fontSize 				= font12
	- navLinkColor 			= colorWhite
	- navLinkSpecialBgColor = colorTertiary
	- navLinkSpecialColor 	= colorWhite
	- padding 				= "padding: 10px 5px 10px 5px;"

if template == "twoProd"
	- buttonProd = true

	//- universal collor
	- linkColor 				= colorPrimary
	- fontColor 				= colorPrimary

	- rowBackgroundColor		= colorWhite

	- prodTitleFontSize			= font11
	- prodNormalPriceColor 		= colorWhiteD
	- fontSizeProdNormalPrice	= font15
	- prodPriceColor 			= colorWhiteD
	- fontSizeProdPrice 		= font24
	- verticalLineColor			= colorWhiteA
	//- cta attribute

	- arcsize = "1px"
	- radiusSize = "1px"

	- ctaColor = colorWhite
	- ctaBgColor = colorSecondary

	- height = "35px"
	- lineheight = "35px"

	- fontFam = fontSans
	- fontSize =  font15

if template == "threeProd"
	- buttonProd = true

	//- universal collor
	- linkColor 				= colorPrimary
	- fontColor 				= colorPrimary

	- rowBackgroundColor		= colorWhite

	- prodTitleFontSize			= font11
	- prodNormalPriceColor 		= colorWhiteD
	- fontSizeProdNormalPrice	= font12
	- prodPriceColor 			= colorWhiteD
	- fontSizeProdPrice 		= font15
	- verticalLineColor			= colorWhiteA
	//- cta attribute

	- arcsize = "1px"
	- radiusSize = "1px"

	- ctaColor = colorWhite
	- ctaBgColor = colorSecondary

	- height = "25px"
	- lineheight = "25px"

	- fontFam = fontSans
	- fontSize =  font12

if template == "fourProd"
	- buttonProd = true

	//- universal collor
	- linkColor 				= colorPrimary
	- fontColor 				= colorPrimary

	- rowBackgroundColor		= colorWhite

	- prodTitleFontSize			= font11
	- prodNormalPriceColor 		= colorWhiteD
	- fontSizeProdNormalPrice	= font12
	- prodPriceColor 			= colorWhiteD
	- fontSizeProdPrice 		= font14
	- verticalLineColor			= colorWhiteA
	//- cta attribute

	- arcsize = "1px"
	- radiusSize = "1px"

	- ctaColor = colorWhite
	- ctaBgColor = colorSecondary

	- height = "25px"
	- lineheight = "25px"

	- fontFam = fontSans
	- fontSize =  font12

if template == "heroImage"
	- linkColor 					= colorPrimaryLightA
	- fontColor 					= colorPrimary
	- rowBackgroundColor			= colorWhite

if template == "heroImagePlus"

	if theme == "dark"
		- heroImagePlusBgColor 		= colorPrimary
		- heroImagePlusHeaderColor 	= colorWhite
		- heroImagePlusRowColor 	= colorSecondary

	if theme == "light"
		- heroImagePlusBgColor 		= colorSecondaryLightA
		- heroImagePlusHeaderColor 	= colorSecondaryDarkA
		- heroImagePlusRowColor 	= colorSecondaryDarkB

	if theme == "white"
		- heroImagePlusBgColor 		= colorWhite
		- heroImagePlusHeaderColor 	= colorTertiary
		- heroImagePlusRowColor 	= colorPrimary


	//- universal collor
	- linkColor 				= colorPrimary
	- fontColor 				= colorPrimary

	- rowBackgroundColor		= colorWhite

	- prodTitleFontSize			= font13
	- prodNormalPriceColor 		= colorWhiteD
	- fontSizeProdNormalPrice	= font15
	- prodPriceColor 			= colorWhiteD
	- fontSizeProdPrice 		= font15
	- verticalLineColor			= colorWhiteA
	//- cta attribute

	//- append heroImagePlusInfo
	append buttonAtribute
		- arcsize = "1px"
		- radiusSize = "1px"

		- ctaColor = colorWhite
		- ctaBgColor = colorSecondary

		- height = "45px"
		- lineheight = "45px"

		- fontFam = fontSans
		- fontSize =  font15
		- align 	= center

if template == "couponCode"

	if theme == "dark"
		- borderCoupon				= colorWhite
		- couponCodeBgColor 		= colorPrimary
		- couponCodeHeaderColor 	= colorSecondary
		- couponCodeRowColor 		= colorPrimaryLightA

	if theme == "light"
		- borderCoupon				= colorSecondaryLightB
		- couponCodeBgColor 		= colorSecondary
		- couponCodeHeaderColor 	= colorSecondaryDarkC
		- couponCodeRowColor 		= colorSecondaryDarkA

	if theme == "white"
		- borderCoupon				= colorTertiary
		- couponCodeBgColor 		= colorWhite
		- couponCodeHeaderColor 	= colorPrimary
		- couponCodeRowColor 		= colorWhiteC


	//- universal collor
	- linkColor 					= colorPrimary
	- fontColor 					= colorPrimary

	- rowBackgroundColor			= colorWhite

	- prodTitleFontSize				= font13
	- prodNormalPriceColor 			= colorWhiteD
	- fontSizeProdNormalPrice		= font15
	- prodPriceColor 				= colorWhiteD
	- fontSizeProdPrice 			= font15
	- verticalLineColor				= colorWhiteA

if template == "footer"
	- rowBackgroundColor		= colorSecondaryLightC
	- bgcolor 					= colorWhiteA
	- fontSize 					= font12
	- fontColor 				= colorWhiteD
	- linkColor 				= colorSecondary
