include utils
include path

- grid = true
- debug = true

- grid = flase
- debug = flase


if site == "default"
	include default/color
	include default/ThemeConfig
	include default/content

if site == "fiorentina"
	include fiorentina/color
	include fiorentina/ThemeConfig
	include fiorentina/content

if site == "lazio"
	include lazio/color
	include lazio/ThemeConfig
	include lazio/content

if site == "fir"
	include fir/color
	include fir/ThemeConfig
	include fir/content

if site == "verona"
	include verona/color
	include verona/ThemeConfig
	include verona/content
