//- Grey scale
- colorWhiteD				= "#a1a1a1"
- colorWhiteC				= "#b3b3b3"
- colorWhiteB				= "#c7c7c7"
- colorWhiteA				= "#dedede"
- colorWhite				= "#ffffff"
- colorGrey					= "#767676"
- colorBlack				= "#000000"
- colorBlackA				= "#191919"
- colorBlackB				= "#303030"
- colorBlackC				= "#444444"
- colorBlackD				= "#565656"

//- Primary
- colorPrimaryLightD		= "#f0f3f7"
- colorPrimaryLightC		= "#e0e6ee"
- colorPrimaryLightB		= "#c0cddc"
- colorPrimaryLightA		= "#809bb8"
- colorPrimary				= "#003671"
- colorPrimaryDarkA			= "#002044"
- colorPrimaryDarkB			= "#001329"
- colorPrimaryDarkC			= "#000b19"
- colorPrimaryDarkD			= "#00070f"

//- Secondary
- colorSecondaryLightD		= "#f8fdff"
- colorSecondaryLightC		= "#f1fafe"
- colorSecondaryLightB		= "#e3f4fd"
- colorSecondaryLightA		= "#c6e9fb"
- colorSecondary			= "#8cd3f6"
- colorSecondaryDarkA		= "#547f94"
- colorSecondaryDarkB		= "#324c59"
- colorSecondaryDarkC		= "#1e2e35"
- colorSecondaryDarkD		= "#121c20"

//- Tertiary
- colorTertiaryLightD		= "#fdfaf0"
- colorTertiaryLightC		= "#faf4e0"
- colorTertiaryLightB		= "#f5e9c1"
- colorTertiaryLightA		= "#ead282"
- colorTertiary				= "#d4a504"
- colorTertiaryDarkA		= "#7f6302"
- colorTertiaryDarkB		= "#4c3b01"
- colorTertiaryDarkC		= "#2e2301"
- colorTertiaryDarkD		= "#1c1501"

//- Fourth
- colorFourthLightD			= "#f6f4f3"
- colorFourthLightC			= "#ece8e6"
- colorFourthLightB			= "#d9d1cc"
- colorFourthLightA			= "#b3a298"
- colorFourth				= "#674430"
- colorFourthDarkA			= "#3e291d"
- colorFourthDarkB			= "#251911"
- colorFourthDarkC			= "#160f0a"
- colorFourthDarkD			= "#0d0906"

- colorDebug				= "#b5ff00"
- colorBgDebug				= "#2b2d29"