extends ../../template/_cells

block cellAtribute
	- cell = "threeEqual"
	- template = 		"threeProd"
	include ../../config/config

block cellContent1

	- prod 						= 1
	block prodInfo
	p #{template}
	include ../../template/_prod

block cellContent2

	- prod 						= 2
	block prodInfo
	p #{template}
	include ../../template/_prod

block cellContent3

	- prod 						= 3
	block prodInfo
	p #{template}
	include ../../template/_prod